<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo 2 vue</title>
</head>
<body>
    <h1>Propiedades watch, propiedades calculadas y métodos</h1>
    <div id="app">
        <h2>Propiedades watch</h2>
        <h3>{{message}}</h3>
        <input type="text" v-model="message" />
    </div>

    <div id="app2">
        <h2>Propiedades calculadas</h2>
        <input type="text" v-model="operador1" />+<input type="text"  v-model="operador2" />={{resultSuma}}
    </div>
    
 

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="vue2.js"></script>