<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo básico Vue</title>
    <link rel="stylesheet" href="vue1.css">
</head>
<body>
<h1>Blog de viajes</h1>
<div class="flex-container">
    <!--primer objeto Vue-->
    <div id="app">
        <h2>Nuevo viaje</h2>
        <!--v-model: directiva que hace que se enlace el contenido de la etiqueta con la variable correspondiente del objeto Vue y renderizará la página-->
        <input v-model="titulo" placeholder="Introduce el título"/>
        <textarea cols="50" v-model="post" placeholder="Introduce el texto"></textarea>
        <h2>{{message}}</h2>
        
        <h3>{{titulo}}</h3>
        {{post}}

        <h3>{{titulo1}}</h3>
        {{post1}}

        <h3>{{titulo2}}</h3>
        {{post2}}

        <h3>{{titulo3}}</h3>
        {{post3}}

    </div>
    <!--podemos añadir tantos objetos vue como necesitemos-->
    <div id="app2">
        <h2>{{message}}</h2>
        <ul>
            <li>{{info1}}</li>
            <li>{{info2}}</li>
            <li>{{info3}}</li>
        </ul>
    </div>

    <div id="app3">
        <h2>{{message}}</h2>
        <!--v-on gestiona los eventos en html con vue.en este caso el tipo de evento a gestionar es el evento "click"-->
        <input type="button" v-on:click="destruir" value="eliminar instancia">
    </div>

</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="vue1.js"></script>