*{
  box-sizing:border-box;
}
h1, h2{text-align: center;}
.flex-container {
  display: flex;
  flex-flow: row;
  text-align: justify;
  justify-content: center;
}

.flex-container .flex-item {
  padding: 1%;
}

.flex-container .flex-item-content {
  width: 50%;
}

.flex-container .flex-item-summary {
  width: 30%;
}

.summary {
  list-style: none;
}

.summary .item {
  margin: 1% 0 0 0;
  font-size: 1.05em;
}
