<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directivas</title>
    <style>
        .mouseArea{
            width: 300px;
            height: 100px;
            border: 2px solid black;       
        }
    </style>
</head>
<body>
    <h1>DIRECTIVAS VUE</h1>
    <!-- v-html: render desde el objeto vue incrustar el html
    -->
    <div id="app">
        <div v-html="html">

        </div>
    </div>

    <div id="app_bind">
        <h2>Cambiar el src de una img con la directiva</h2>
        <img v-bind:src="imagen1" alt="">
        <img v-bind:src="imagen2" alt="">
        <img v-bind:src="imagen3" alt="">
        <button @click="startLoop">Cambiar imagen</button>
    </div>

    <div id="app3">
        <h2>DIRECTIVAS CONDICIONALES IF</h2>
        <!-- 
            renderizar parte del html en funcion de condicion 
            v-if:"condicion"
            v-if-else:"condicion"
            v-else
        -->
        <select v-model="mascota" v-on:change="elegirMascota">
            <option>Elige tu mascota</option>
            <option>Perro</option>
            <option>Gato</option>
        </select>

        <div v-if="mascota != ''">
            <div v-if="mascota === 'cat'">
                <h3>Gatete</h3>
            </div>
            <div v-else="">
                <h3>Perrete</h3>
            </div>
            <img v-bind:src="imagen"/>
        </div>
    </div>
    <!--renderizamos listas-->
    <div id="app4">
        <h1>v-for</h1>
        <h2>Lista de la compra</h2>
            <input v-on:keyup.enter="onEnterPressed" v-model="newProduct"/>
        <ul>
            <li v-for="product in shoppingList">
                {{ product }}
            </li>
        </ul>
    </div>
  
    <!--también podemos usar v-for para mostrar las propiedades de un objeto de nuestra instancia vue
    descomponemos la las propiedades del objeto en pares clave-valor y si lo necesitamos, también añadimos índice-->
    
    <div id="app5">
        <h1>v-for object</h1>
        <h2></h2>
        <ul>
        <li v-for="(value, key, index)  in post"
            style= "list-style-type:none;">
            {{ index + 1 }} => {{ key }}: {{ value }}
        </li>
        </ul>
    </div>
    
    
    <div id="app6">
        <h1>Vue filters</h1>
        <h2>Lista de la compra</h2>
        <ul>
        <li v-for="product in shoppingList">
            {{ product | productName }} <!--esto se lee algo así como "a este valor le aplico está función/transformación"-->
        </li>
        </ul>
    </div>
    
    <!--renderizamos sólo una vez. Con esta directiva aseguramos que un elemento sólo tomará un valor durante el renderizado. Si la página volviera a renderizarse, se consideraría estático-->
    <div id="app7">
        <h1 v-once>{{ message }}</h1>

        <input type="text" v-model="message"/>
    </div>
    <!--dentro de las directivas para capturar eventos del DOM, esta directiva nos permite filtrar los generados cuando el ratón se mueve por encima de uno de nuestros componentes-->
    <div id="app8">
        <h1>Mouse move</h1>
        <div class="mousearea" v-on:mousemove="move">
        </div>
        <div class="result">{{mouseX}} - {{mouseY}}</div>
    </div>
    
    <!--dirctivas personalizadas-->
    <div id="app9">
        <h1 v-red>Aprendiendo Vue!</h1>
        <p v-red>
        Usando la directiva personalizada red!
        </p>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="vue3.js"></script>