<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id="app">
        <div>
            {{ message }}
        </div>
        <input type="text" v-model="message" placeholder="cambiar la variable message"/>
        <br>

        <!-- v-bind:propiedad -->
        <span v-bind:title="tooltip">
            Mueva el mouse sobre mí durante unos segundos
            para ver mi título enlazado dinámicamente.
            usando v-bind:title
        </span>
        <br>

        <!-- v-if y @click u v-on:click-->
        <span v-if="seen">Now you see me v-if</span>
        <button @click="toggleVisibility"> {{ hide_message }}</button>
        <button v-on:click="toggleVisibility"> {{ hide_message }}</button>
        <!-- Lista de Elementos -->
        <h2>Lista de Elementos usando v-for</h2>
        <ul>
            <li v-for="(item, index) in list_items" :key="index">
                {{ item }}
            </li>
        </ul>

        <!-- Lista de Objetos -->
        <h2>Lista de Objetos usando v-for</h2>
        <ol>
            <li v-for="object in list_objects" :key="index">
                {{ object.text }}
                <span> - Prioridad: {{ object.priority }}</span>
            </li>
        </ol>
    </main>

</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script> 

    app_data = {
        message: 'Hola Vue!',
        hide_message: "Hide me bb",
        tooltip: 'vue title!',
        seen: true,
        list_items: ['Elemento 1', 'Elemento 2', 'Elemento 3', 'Elemento 4'],
        list_objects: [
            { text: 'Aprender JavaScript', priority: 5},
            { text: 'Aprender Vue', priority: 10 },
            { text: 'Construir algo increíble', priority: 20 }
        ]
    }

    app_methods = {
        toggleVisibility() {
            this.seen = !this.seen; 

            if(this.seen == true){
                this.hide_message = "Hide me bb";
            } else {
                this.hide_message = "Show me bb";
            }
        },
    }
    app_watchs = {
        message: function(new_value, old_value){
            console.log(new_value, old_value);
        }
    }

    app_computeds = {

    }

    var app = new Vue({
        el: '#app',
        data: app_data,
        methods: app_methods,
        watch: app_watchs,
        computed: app_computeds,
        beforeCreate() {
            console.log('beforeCreate: La instancia de Vue aún no ha sido creada.');
        },
        created() {
            console.log('created: La instancia de Vue ha sido creada.');
        },
        beforeMount() {
            console.log('beforeMount: El componente aún no ha sido montado en el DOM.');
        },
        mounted() {
            console.log('mounted: El componente ha sido montado en el DOM.');
        },
        beforeUpdate() {
            console.log('beforeUpdate: Los datos del componente están a punto de ser actualizados.');
        },
        updated() {
            console.log('updated: Los datos del componente han sido actualizados.');
        },
        beforeDestroy() {
            console.log('beforeDestroy: La instancia de Vue está a punto de ser destruida.');
        },
        destroyed() {
            console.log('destroyed: La instancia de Vue ha sido destruida.');
        },

    });

</script>
</html>